body{
	font-size: 15px;
	background-image: url(../img/127011366806018.jpg);
	background-repeat: no-repeat;
}

header{
	
	color: white;
	height: 85px;
	background-color: rgba(0,0,0,0.8);
}

.last{

	zoom : 1px;

	float: left;
	width: 100%;
	color: white;
	height: 273px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	
}
.lasttext{
	
	width: 760px;
	color: white;
	height: 273px;
	/* background-color:red; */
	margin: 0 auto;
	
}
.lasttext ul li {
	display: flex;
	justify-content: space-between
	
	
}

.lasttext ul li ol li{
	width: 108px;
	height: 36px;
}
.lasttext ul li ol li a{
	color: white;
	text-decoration: none;
}

header:hover+.last{
	display: block;
}








*{
	margin: 0px;
	padding: 0px;
}
.headerCont{
	width: 1200px;
	height: 100%;
	margin: 0px auto;
/* 	background-color: red; */
}
.headerCont ul{
	float: left;
	width: 770px;
	height: 85px;
	/* background-color: yellow; */
	display: flex;/* 弹性布局 */
	align-items: center;
	justify-content: center;
}
.headerCont ul li{
	width: 110px;
	height: 85px;
	/* background-color: green; */
	
}
.headerCont ul li a{
	width: 100%;
	height: 100%;
	display: inline-block;
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
li{
	list-style: none;
}

.logo{
	float: left;
}
.headerCont ul li a b{
	color: rgba(255,255,255,0.7);
	
}

.headerCont ul li a small{
	color: rgba(255,255,255,0.7);
	
}

.headerCont ul li:hover{
	background-color: rgba(217,217,25,0.2);
}


/* main start */


.main{
	width: 1200px;
	height: 345px;
	margin-top: 450px;
	margin-left: auto;
	margin-right: auto;
	/* border: 1px solid blue; */ 
}
.banner{
	position: relative;
	margin: auto;
	width: 604px;
	height: 345px;
	/* width: 604px;
	height: 345px; */
	float: left;
	overflow: hidden;
	/* border: 1px solid blueviolet; */
}

.banner ul{
	display: flex;
}

.banner li{
	width: 121px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	/* border: 1px solid red; */
	background: #25242e;
	color: rgba(255,255,255,0.5);
}
.banner li:hover{
	/* background-color: rgba(255,255,255,0.2); */
	background: rgba(217,217,25,0.2);
	color: #F3C258;
	cursor: pointer;
}

.news{
	width: 324px;
	height: 345px;
	float: left;
	/* border: 1px solid blue; */
	background: rgba(37,35,44,0.93);
	padding: 0px 17px;
	color: #9999;
}
.newstab{
	text-align: center;
	height: 50px;
	border-bottom: 1px solid #000;
}

.newstab ul{
	display: flex;
}
.newstab ul li{
	width: 60px;
	height: 50px;
	line-height: 40px;
}

.newstext h3{
	text-align: center;
	
	background-color: aliceblue;
}
.newstext ul li{
	line-height: 30px;
}
.newstext li:first-child{
	line-height: 40px;
	background-color: #414046;
	font-size: 16px;
	color: #f3c258;
	padding-left: 15px;
	margin: 15px 0px;
}

.download{
	width: 236px;
	height: 342px;
	float: left;
	border: 1px solid red;
}
#download1{
	
	width: 236px;
	height: 128px;
	display: block;
	background: url(../img/index.png);
	background-position: 0px -220px;
}
#download2{
	width: 236px;
	height: 105px;
	
	display: block;
	background: url(../img/index.png);
	background-position: 0px -352px;
}
#download3{
	
	padding: 3px;
	width: 236px;
	height: 113px;
	display: block;
	background: url(../img/index.png);
	background-position: 0px -460px;
}

.show{
	float: left;
	width: 1200px;
	height: 134px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid orangered;
	margin-top: 30px;
	
}
.show ul{
	display: flex;
	justify-content: space-between
}




/* .t2{
	position: absolute;
	
	margin-top: 1000px;
} */
.t2{
	display: flex;
	margin-left: px;
	margin-top: 95px;
	width: 605px;
	/* height: 20px; */
}


/*//自动播放*/
.banner .t1 {
    animation: marginLeft 10.5s infinite;
}

.banner li {
    float: left;
    width: 600px;
    height: 200px;
}



@keyframes marginLeft {
    0% {
        margin-left: 0;
    }

    28.5% {
        margin-left: 0;
    }

    33.3% {
        margin-left: -600px;
    }

    62% {
        margin-left: -600px;
    }

    66.7% {
        margin-left: -1200px;
    }

    95.2% {
        margin-left: -1200px;
    }

    100% {
        margin-left: 0;
    }
}



/* ############################################# */
.text{
	width: 100%;
	height: 100px;
	/* border: 1px solid red; */
	float: left;
	margin-top: 100px;
	
}


.footer-warp{
	position: relative;
	z-index: 2;
	height: 362px;
	background:url(../img/bg_footer.jpg) no-repeat center 0;
	margin: 80px 0px auto;
	
}
/* .foot{
	position: relative;
	background: none;
	width: 1200px;
	padding-top: 34px;
} */
.foot{
	position: relative;
	background: none;
	width: 1200px;
	padding-top: 34px;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	margin: 0 auto;
	text-align: left;
}

.foot_lefts{
	display: block;
	float: none;
	height: 6px;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 2px solid #d4d4d4;
}
.foot_ieg_logo{
	padding-top: 50px;
	width: 285px;
	height: 64px;
	background: url(../img/spr1.png) no-repeat -1px 0;
	float: left;
	margin: -60px 0px 0px 10px;
	
}

.foot_left_logo1{
	width: 70px;
	height: 64px;
	background: url(../img/spr.png) no-repeat -285px 0;
	float: left;
	margin: -73px 0px 0px 100px ; 
}
.foot_links{
	display: inline;
	float: right;
	width: 650px;
	font-size: 12px;
}
.foot_links li{
	line-height: 20px;
	font size: 12px;
	text-decoration: none;
}
.copyright_en{
color:  #646467;
}
.foot_links a{
	text-decoration: none;
	}
.link_map a{
	font-size: 12px;
	color: #646467;
}

.f_line{
	margin: 0 2px;
	
}
.copyright_private a{
	color:  #646467;
}
.copyright_zh{
margin-left: 553px;
}
.copyright_zh a{
	text-decoration: none;
	color:  #646467;
}
.copyright_en{
	padding-top: 6px;
}
/* .copyright_txt{font-size: 10px;} */
.copyright_public a{
	color: #646467;
}
.copyright_private a{
	color: #646467;
}
.copyright_private img{
	/* vertical-align: middle; */
	margin-right: 3px;
	display: inline-block;
	/* border-radius: 2px 2px 2px 2px; */
}
.foot-tips-fl{
	position: absolute;
	/* top: 170px; */
	margin: -11px 0px 0px 0px;
	width: 508px;
	font-size: 12px;
	color: #666;
	float: left;
}
.foot-tips-fl p{
	display: block;
	/* margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px; */
	margin-top: 10px;
}
.copyright_txt{font-size: 10px;
margin-top: -20px;}
.foot-tips-fl em{
	font-style: normal;
	margin-right: 12px;
	color: #6d6d6d;
}
.intro{
	margin-top: 6px;
	font-size: 12px;
	color: #666;
}
.report{
	position: absolute;
	left:550px;
	top: 120px;
	width: 300px;
}








.r_nav .r_dj span {
    display: block;
    position: absolute;
    top: 37px;
    left: 12px;
    width: 88px;
    height: 36px;
    font-size: 14px;
    text-indent: 2px;
    font-weight: bold;
    line-height: 18px;
    color: #62401b;
    overflow: hidden;
}
.r_nav {
    pointer-events: none;
    position: fixed;
    z-index: 3;
    top: 50%;
    right: 0;
    margin-top: -240px;
    width: 254px;
    height: 494px;
    background: url(../img/r_navBg.png) no-repeat top left;
}
.r_nav .r_dj {
    position: absolute;
    top: 15px;
    left: 24px;
    z-index: 2;
    width: 165px;
    height: 145px;
    background: url(../img/r_dj.png) no-repeat top center;
}
.r_nav .r_con {
    pointer-events: auto;
    position: absolute;
    top: 158px;
    left: 76px;
}
.r_nav .r_con .r_code {
    margin-top: 1px;
}

.r_nav .r_con .r_yyw, .r_nav .r_con .r_code {
    position: relative;
    width: 117px;
    height: 113px;
    background: url(../img/r_all.png) no-repeat 0 -3px;
    padding-top: 3px;
	padding-left: 3px;
}
.r_nav div, .r_nav li, .r_nav p, .r_nav a {
    padding: 0;
    margin: 0;
}
.r_nav li {
    list-style: none;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.r_con .r_burst {
    background: url(../img/r_all.png) no-repeat -122px -120px;
    position: relative;
}
.r_con .r_burst:hover{
    background: url(../img/r_all.png) no-repeat -122px -240px;
    position: relative;
}
.r_con .r_burst, .r_con .r_assistant, .r_con .r_wc_gzh, .r_con .r_wc_role, .r_wc_sph {
    width: 117px;
    height: 38px;
    margin-top: 1px;
}
.r_con .r_assBg {
    display: none;
    position: absolute;
    top: -66px;
    left: -116px;
    width: 115px;
    height: 144px;
    background: url(../img/r_all.png) no-repeat 0 -416px;
    padding-top: 7px;
}
.r_con .r_wc_gzh {
    position: relative;
    background: url(../img/r_all.png) no-repeat -122px -160px;
}
.r_con .r_wc_gzh:hover{
    position: relative;
    background: url(../img/r_all.png) no-repeat -122px -200px;
}
.r_con .r_burst, .r_con .r_assistant, .r_con .r_wc_gzh, .r_con .r_wc_role, .r_wc_sph {
    width: 117px;
    height: 38px;
    margin-top: 1px;
}
.r_con .r_assBg {
    display: none;
    position: absolute;
    top: -66px;
    left: -116px;
    width: 115px;
    height: 144px;
    background: url(../img/r_all.png) no-repeat 0 -416px;
    padding-top: 7px;
}
.r_con .r_wc_sph {
    position: relative;
    background: url(../img/r_all.png) no-repeat -122px 0;
}
.r_con .r_wc_sph:hover{
    position: relative;
    background: url(../img/r_all.png) no-repeat -122px -42px;
}
.r_nav div, .r_nav li, .r_nav p, .r_nav a {
    padding: 0;
    margin: 0;
}
.r_con .r_assBg {
    display: none;
    position: absolute;
    top: -66px;
    left: -116px;
    width: 115px;
    height: 144px;
    background: url(../img/r_all.png) no-repeat 0 -416px;
    padding-top: 7px;
	padding-left: 3px;
}
.r_burst .r_assBg p {
    width: 100%;
}
.r_wc_gzh .r_assBg p {
    width: 100%;
}
.r_wc_sph .r_assBg p {
    width: 100%;
}
.r_assBg p span {
    color: #cd974b;
}
.r_assBg p {
    width: 101px;
    height: 34px;
    line-height: 17px;
    color: #dcdcdc;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.tganime-fadein-trigger .tganime-fadein-child {
	-webkit-animation: fadeOutFromAll .3s ease-in-out;
	animation: fadeOutFromAll .3s ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

.tganime-fadein-trigger:hover .tganime-fadein-child {
	display: block;
	-webkit-animation: fadeInFromNone .4s ease-in-out;
	animation: fadeInFromNone .4s ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}
